<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--footer area start-->
<div th:fragment="common-footer" th:remove="tag">
    <footer class="footer_widgets" style="margin-top: 120px;">
        <div class="footer_top">
            <div class="container" style="font-family: 'GmarketSansMedium';">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-7">
                        <div class="widgets_container contact_us" style="width: 450px;">
                           <div class="logo">
                                <a href="" th:href="@{/}"><img src="assets/img/logo/dogcat.png" alt="" style="width: 80px; height: 80px;"></a>
                           </div>
                           <p class="footer_desc" style="width: 400px; margin-top: 20px; font-weight: bold;">유기견과 여러분들에게 좋은 인연을 만들어주고싶은 사이트</p>
                            <p><span>Address:</span> 서울특별시 강남구 테헤란로 124 4층 (역삼동, 삼원타워)</p>
                            <p><span>Email:</span> admin@itwill.co.kr</p>
                            <p><span>Call us:</span> 02-6255-8002</a></p>
                        </div>          
                    </div>
                    <!--<div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">
                            
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#"> Privacy Policy</a></li>
                                    <li><a href="#"> Terms & Conditions</a></li>
                                    <li><a href="contact.html"> Contact Us</a></li>
                                    <li><a href="#"> Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="widgets_container widget_menu">
                            <h3>Extras</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Brands</a></li>
                                    <li><a href="#">  Gift Certificates</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#"> Order History</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                   <!-- <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="widgets_container widget_newsletter">
                            <h3>Sign up newsletter</h3>
                            <p class="footer_desc">Get updates by subscribe our weekly newsletter</p>
                            <div class="subscribe_form">
                                <form id="mc-form" class="mc-form footer-newsletter" >
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email" />
                                    <button id="mc-submit">Subscribe</button>
                                </form>
                                 mailchimp-alerts Start 
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div> mailchimp-submitting end 
                                    <div class="mailchimp-success"></div> mailchimp-success end 
                                    <div class="mailchimp-error"></div> mailchimp-error end 
                                </div> mailchimp-alerts end 
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        
        <div class="footer_bottom">
            <div class="container" style="font-family: 'GmarketSansMedium';">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="copyright_area">
                            <p>Copyright  © 2023 ITWILL . All Rights Reserved.Design by 전아현,이다영</p>
                        </div>
                    </div>    
                    <div class="col-lg-6 col-md-5">    
                        <div class="footer_payment">
                            <ul>
                                <!--<li><a href="#"><img src="assets/img/icon/paypal1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/icon/paypal2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/icon/paypal3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/icon/paypal4.jpg" alt=""></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </footer>
    </div>
    <!--footer area end-->

</html>