<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout(title='관리자 회원관리')">

<head>
	<title>Safira - my account</title>
	<style>
		.modal-dialog {
			margin: auto;
			margin-top: 20vh;
			/* 회원탈퇴창 가운데 정도로 떨어트림 */
			
	}
			#userinfoTable{
		width: 1200px;
		}
		
		  .table{
			width: 100%; /* 테이블 너비를 100%로 설정 */
        	margin: auto; /* 테이블을 페이지 가운데로 정렬 */
        	table-layout: fixed; /* 테이블 레이아웃을 고정하여 열 너비 설정 가능하게 함 */
		}
		
		.table th,
    .table td {
        text-align: center;
    }

    /* 테이블 헤더 셀의 폰트 크기 및 패딩 조정 */
    .table th {
        font-size: 14px;
    
    }

    /* 테이블 셀의 폰트 크기 및 패딩 조정 */
    .table td {
        font-size: 12px;
        
    }
	@font-face {
			font-family: 'GmarketSansMedium';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
	
		.container {
			font-family: 'GmarketSansMedium';
		}	
	</style>

</head>

<body>

	<!--header area start-->
	<th:block layout:fragment="content">
		<!--offcanvas menu area start-->
		<!-- <div class="off_canvars_overlay">
                
    </div>
    <div class="offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="icon-menu"></i></a>
                    </div>
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="icon-x"></i></a>  
                        </div>
                        <div class="language_currency">
                            <ul>
                                <li class="language"><a href="#"> Language <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">Russian</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a href="#"> Currency <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">€ Euro</a></li>
                                        <li><a href="#">£ Pound Sterling</a></li>
                                        <li><a href="#">$ US Dollar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header_social text-right">
                            <ul>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                     
                        <div class="call-support">
                            <p><a href="tel:(08)23456789">(08) 23 456 789</a> Customer Support</p>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a></li>
                                        <li><a href="index-4.html">Home 4</a></li>
                                        <li><a href="index-5.html">Home 5</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Shop Layouts</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                <li><a href="shop-list.html">List View</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">other Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Product Types</a>
                                            <ul class="sub-menu">
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="product-sidebar.html">product sidebar</a></li>
                                                <li><a href="product-grouped.html">product grouped</a></li>
                                                <li><a href="variable-product.html">product variable</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                        <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                        <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">pages </a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services.html">services</a></li>
                                        <li><a href="faq.html">Frequently Questions</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="my-account.html">my account</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="about.html">about Us</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="contact.html"> Contact Us</a> 
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
		<!--offcanvas menu area end-->


		<!--header area end-->

		<!--breadcrumbs area start-->
		<!-- <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                       <h3>My Account</h3>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>My account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div> -->
		<!--breadcrumbs area end-->

		<!-- my account start  -->
		<section class="main_content_area">
			<div class="container" style="margin-right: 600px;">
				<div class="account_dashboard" >
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3">
							<!-- Nav tabs -->
							<div class="dashboard_tab_button">
	                            <ul role="tablist" class="nav flex-column dashboard-list">
									<li><a href="adminUserList" class="nav-link">회원</a></li>
	                                <li><a href="adminProductList"  class="nav-link">상품</a></li>
	                                <li><a href="adminOrdersList" class="nav-link">주문</a></li>
	                                <li><a href="adminAdoptList"  class="nav-link">입양</a></li>
									<li><a href="adminVolunteerList"class="nav-link">봉사</a></li>
	                                <li><a href="adminVisitList"class="nav-link">견학</a></li>
									<li><a href="centerListAll"class="nav-link">보호소</a></li>
									<!--<li><a th:if="${session.userName != '관리자'}" style="display: none;"class="nav-link"></a></li>-->
									<!-- <li> <a th:if="${session.userName != '관리자'}" href="orders" class="nav-link">주문목록</a></li> -->	                                
									<!-- <li> <a th:if="${session.userName != '관리자'}" href="orders" class="nav-link">주문목록</a></li> -->
	                                <li><a href="logout" class="nav-link">로그아웃</a></li>
	                                <!-- <li><a href="#" data-toggle="modal" data-target="#deleteModal" class="nav-link">회원탈퇴</a></li> -->
	                            </ul>
                       		 </div>    
							</div>
						<div class="col-sm-12 col-md-9 col-lg-9">
							<!-- Tab panes -->
							<div class="tab-content dashboard_content">





								<!--  <div class="tab-pane fade" id="visit">-->
								<h3>회원관리</h3>
								<div class="table-responsive" id="userinfoTable">
									<table class="table" >
										<thead>
											<tr>
												<th>번호</th>
												<th>아이디</th>
												<th>이름</th>
												<th>포인트</th>
												<th>성별</th>
												<th>주소</th>
												<th>연락처</th>
												<th>탈퇴</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userinfo:${adminUserList}">
												<!-- <td th:text="${visit.visitNo}"></td>-->
												<td th:text="${userinfo.userNo}"></td>
												<td th:text="${userinfo.userId}"></td>
												<td th:text="${userinfo.userName}"></td>
												<td th:text="${userinfo.userPoint}"></td>
												<td th:text="${userinfo.userGender}"><span class="success">견학신청</span></td>
												<td th:text="${userinfo.userAddress}"></td>
												<td th:text="${userinfo.userPhoneNumber}"></td>
												<td>
													<!--<a th:if="${session.userNa<!--me == '관리자'}" th:href="@{/adminUpdateUser?userNo={userNo}(userNo=${userinfo.userNo})}" class="updateBtn">수정</a>-->
													<button type="button" class="deleteBtn" onclick="userDelete(event)" th:id="${userinfo.userNo}">탈퇴</button>
												</td>
											</tr>
										</tbody>
									</table>
									        <div class="shop_toolbar t_bottom">
							                    <div class="pagination" th:if="${adminUserList.totalPages > 1}">
							                        <ul th:with="pageNumber=${adminUserList.number}, totalPages=${adminUserList.totalPages}">
							                            <li th:classappend="${adminUserList.first} ? 'disabled'"><a href="#" th:href="${adminUserList.first} ? '#' : @{adminUserList(page=${pageNumber - 1})}">&lt;</a></li>
							
							                            <li th:each="page: ${#numbers.sequence(0, totalPages - 1)}"
							                                th:classappend="${page == pageNumber} ? 'current'"><a th:text="${page + 1}" th:href="@{adminUserList(page=${page})}"></a></li>
							
							                            <li th:classappend="${adminUserList.last} ? 'disabled'"><a href="#" th:href="${adminUserList.last} ? '#' : @{adminUserList(page=${pageNumber + 1})}">&gt;</a></li>
							                        </ul>
							                    </div>
							                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- my account end   -->

		<!--footer area start-->


		<!--footer area end-->


		<!-- 회원탈퇴  -->
		<!-- <script>
    $('#confirmDelete').on('click', function() {
        const selectedReason = $('input[name="reason"]:checked').val();
        if (selectedReason) {
            console.log("회원탈퇴 이유:", selectedReason);
            // 여기에 탈퇴 로직 
            // 탈퇴가 완료되면 index.html로 리다이렉트
        window.location.href = 'index.html';
        } else {
            alert("탈퇴하시려면 이유를 선택해주세요.");
        }
    });
</script>


주문한 상품 리뷰쓰기 
<script>

    // 마이페이지 상품주문 완료된 항목에서 주문상세를 누르면 창이 뜨고 이 창에서만 리뷰를 쓸수 있음
    // 주문 상세 링크를 클릭할 때 이벤트 핸들러
    document.querySelector('.table').addEventListener('click', function(e) {
    if (e.target.classList.contains('view')) {
        e.preventDefault();
        
        // 주문상세 정보를 로드 하기
        

        // 모달창 표시
        $('#orderDetailsModal').modal('show');
    }
    });

</script> -->
		<script>
			function ajaxRequest(method, url, sendJsonObject) {
				let returnResultJsonObject={};
				$.ajax({
					async:false,
					method: method,
					url: url,
					contentType: 'application/json;UTF-8',
					data: JSON.stringify(sendJsonObject),
					type: 'json',
					success: function(resultJsonObject) {
						returnResultJsonObject = resultJsonObject;
					}
				});
				return returnResultJsonObject;
			}
			
			function userDelete(e){
				let id = $(e.target).attr('id');
				alert(id);
				window.location.href="adminUserDelete?userNo="+id;
			}
			
			
		</script>
	</th:block>



</body>

</html>