<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='')">

<head>
<title>Register</title>
 <style>
	@font-face {
			font-family: 'GmarketSansMedium';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
	
		.container {
			font-family: 'GmarketSansMedium';
		}
</style>
</head>

<body>
	<!--header area start-->

	<!--offcanvas menu area start-->

	<!--header area end-->

	<!--breadcrumbs area start-->


	<!--breadcrumbs area end-->

	<!-- customer login start -->
	<th:block layout:fragment="content">
		<div class="customer_login" id="content">
			<div class="container">
				<div class="row">
					<!--login area start-->

					<!--login area start-->

					<!--register area start-->
					<div class="col-lg-6 col-md-6" style="margin-left: 300px;">
						<div class="account_form register"
							style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
							<h2>상품 수정</h2>

							<form name="f" id="product_update_form" action="#" method="POST"
								enctype="multipart/form-data"
								th:action="@{'/adminUpdateProduct'}">

								<p>
									<label for="productNo">상품 번호<span></span></label> <input
										type="text" name="productNo" th:value="${product.productNo}"
										readonly="readonly">
								</p>
								<p>
									<label for="productName">상품 이름<span></span></label> <input
										type="text" name="productName"
										th:value="${product.productName}">
								</p>
								<p>
									<label for="productPrice">가격<span></span></label> <input
										type="text" name="productPrice"
										th:value="${product.productPrice}">
								</p>

								<label for="productImage">상품 이미지</label> <input type="file"
									name="imageFile" id="imageFile" th:value="${product.productImage}"
									style="border: none;">
									<img alt="" src="" id="imagePreview" width="300px" height="300px">
								<div class="login_submit" style="margin-top: 10px;">


									<button type="submit" th:text="수정하기">수정</button>

								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>

		<script>
			/*************************************/
			function loadURLToInputFiled(url){
				console.log(url);
				  getImgURL(url, (imgBlob)=>{
				    // Load img blob to input
				    // WIP: UTF8 character error
				    let fileName = '[[${product.productImage}]]';
				    let file = new File([imgBlob], fileName,{type:"image/jpeg", lastModified:new Date().getTime()}, 'utf-8');
				    let container = new DataTransfer(); 
				    container.items.add(file);
				    document.querySelector('input[type="file"]').files = container.files;
				    document.querySelector('#imagePreview').src=url;
				  });
				}
				// xmlHTTP return blob respond
			function getImgURL(url, callback){
			  var xhr = new XMLHttpRequest();
			  xhr.onload = function() {
			      callback(xhr.response+">>>>>>>>>>>>>");
			      
			      
			  };
			  xhr.open('GET', url);
			  xhr.responseType = 'blob';
			  xhr.send();
			}
			/*************************************/
		
		
			/* const fileInput = document.querySelector('input[type="file"]');
		    // Create a new File object
	        const myFile = new File(['Hello World!'], '[[${product.productImage}]]', {
	            type: 'text/plain',
	            lastModified: new Date(),
	        });
	        // Now let's create a DataTransfer to get a FileList
	        const dataTransfer = new DataTransfer();
	        dataTransfer.items.add(myFile);
	        fileInput.files = dataTransfer.files; */
	        
	        loadURLToInputFiled('image/product/[[${product.productImage}]]');
			
				
				
				
				
				
			$('#product_update_form').on('submit', function(e) {
				//alert('aaa');
				// 폼이 유효하지 않으면 전송을 중지
				if (!$(this).valid()) {
					e.preventDefault();

				}
				//alert('안먹나?');
				window.location.href = "adminProductList";
			});	
		</script>

	</th:block>
	<!-- customer login end -->

	<!--footer area start-->

	<!--footer area end-->
</body>

</html>