<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/layout(title='Register')">

<head>
    <title>Register</title>
</head>

<body>
     <!--header area start-->
    
    <!--offcanvas menu area start-->
    
    <!--header area end-->

    <!--breadcrumbs area start-->
    
    
    <!--breadcrumbs area end-->
    
    <!-- customer login start -->
    <th:block layout:fragment="content">
    <div class="customer_login" id="content">
        <div class="container">
            <div class="row">
               <!--login area start-->
               
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2 th:text="Register">회원가입</h2>
                        <form name="f" id="user_write_form" action="my-account.html" method="post" >
                            
                            <p>   
                                <label>아이디 <span>*</span></label>
                                <input type="text" id="userId">
                                <span id="userIdError" style="color:red;"></span>
                             </p>
                
                             <p>
                                <label>비밀번호 <span>*</span></label>
                                <input type="password" id="password">
                                <span id="passwordError" style="color:red;"></span>
                            </p>
                            <p>
                                <label>비밀번호 확인 <span>*</span></label>
                                <input type="password" id="confirmPassword">
                                <span id="confirmPasswordError" style="color:red;"></span>
                            </p>
                            <p>   
                                <label>이름  <span>*</span></label>
                                <input type="text" id="name">
                                <span id="nameError" style="color:red;"></span>
                             </p>
                
                            <p>   
                                <label>주민번호  <span>*</span></label>
                                <input type="text" id="residentNumber">
                                <span id="nameError" style="color:red;"></span>
                             </p>
                
                             <p>
                                <label>성별  <span>*</span></label>
                                <select id="gender">
                                    <option value="">성별 선택</option>
                                    <option value="남">남</option>
                                    <option value="여">여</option>
                                </select>
                                <span id="genderError" style="color:red;"></span>
                             </p>
                
                             <p>   
                                <label>핸드폰번호  <span>*</span></label>
                                <input type="text" id="phone">
                                <span id="phoneError" style="color:red;"></span>
                             </p>

                             <p>   
                                <label>주소  <span>*</span></label>
                                <input type="text" id="address">
                                
                                <span id="addressError" style="color:red;"></span>
                            </p>
                
                            <div class="login_submit">
                                <button type="button" data-navigate="#/user_write_action">확인</button>
                            </div>
						</form>
                        </div>
                    
                    </div>    
            
             
                 <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2 th:text="MyPet">Register</h2>
                        <form action="#">
                            <p>   
                                <label th:text="이름">Email address  <span>*</span></label>
                                <input type="text">
                             </p>
                             <p>   
                                <label th:text="생일">Passwords <span>*</span></label>
                                <input type="text">
                             </p>
                              <p>
                                <label>종류  <span>*</span></label>
                                <select id="kind">
                                    <option value="">종류 선택</option>
                                    <option value="남" th:text="강아지" th:value="강아지">남</option>
                                    <option value="여" th:text="고양이" th:value="고양이">여</option>
                                </select>
                                <span id="kindError" style="color:red;"></span>
                             </p>
                
                            <div class="login_submit">
                                <button type="submit" th:text="등록">Register</button>
                            </div>
                        </form>
                    </div>    
                </div>-
                <!--register area end-->
            </div>
        </div>   
            </div> 
    </th:block>
    <!-- customer login end -->

    <!--footer area start-->
    
    <!--footer area end-->
</body>

</html>