<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/layout(title='')">

<head>
    <title>Register</title>
    <style>
		@font-face {
			font-family: 'GmarketSansMedium';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
	
		.container {
			font-family: 'GmarketSansMedium';
		}
	</style>
</head>

<body>
     <!--header area start-->
    
    <!--offcanvas menu area start-->
    
    <!--header area end-->

    <!--breadcrumbs area start-->
    
    
    <!--breadcrumbs area end-->
    
    <!-- customer login start -->
    <th:block layout:fragment="content">
    <div class="customer_login" id="content">
        <div class="container">
            <div class="row">
               <!--login area start-->
               
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6" style="margin-left: 300px;">
                    <div class="account_form register" style="display: flex; flex-direction: column; justify-content: center; align-items: center;" >
                        <h2>실종&#47;제보</h2>
                        
                        <form name="f" id="reportBoard_write_form" action="#" method="post" enctype="multipart/form-data"
                        	th:action="@{'/reportUpdate'}">
                        	<input type="hidden" id="boardNo" name="boardNo" th:value="${reportBoard.boardNo}"></input>
                            <p>   
                                <label>글 제목<span>*</span></label>
                                <input type="text" id="boardTitle" name="boardTitle" th:value="${reportBoard.boardTitle}">
                                <span id="boardTitleError" style="color:red;"></span>
                             </p>
                            <!-- <p>
                                <label>찾은날짜<span>*</span></label>
                                <input type="text" id="boardFindDate" name="boardFindDate">
                                <span id="boardFindDateError" style="color:red;"></span>
                            </p>-->
             				 <p>
							<div>
								<label>찾은 날짜</label>
								<input type="date" name="boardFindDate" id="boardFindDate" placeholder="날짜를 선택해주세요"
									required="required" th:value="${reportBoard.boardFindDate}">
							</div>
             				 </p>
                            <p>   
                                <label>찾은사람이름<span>*</span></label>
                                <input type="text" id="boardFindName" name="boardFindName" th:value="${reportBoard.boardFindName}">
                                <span id="nameError" style="color:red;"></span>
                             </p>
                             <p>   
                                <label>발견된 장소<span>*</span></label>
                                <input type="text" id="boardFindPlace" name="boardFindPlace" th:value="${reportBoard.boardFindPlace}">
                                <span id="placeError" style="color:red;"></span>
                             </p>
                             <p>   
                                <label>휴대폰번호<span>*</span></label>
                                <input type="text" id="boardFindPhone" name="boardFindPhone" th:value="${reportBoard.boardFindPhone}">
                                <span id="phoneError" style="color:red;"></span>
                             </p>
                            <p>   
                                <label>내용<span>*</span></label>
                                <textarea id="boardContent" name="boardContent" style="width: 520px; height: 200px; resize: none;" th:text="${reportBoard.boardContent}"></textarea>
                            </p>
                           <label for="productImage">상품 이미지</label> <input type="file"
									name="imageFile" id="imageFile" th:value="${reportBoard.boardImage}"
									style="border: none;">
									<img alt="" src="" id="imagePreview" width="300px" height="300px">
								<div class="login_submit" style="margin-top: 10px;">


								<button type="submit" th:text="수정하기" th:id="${reportBoard.boardNo}">수정</button>
                           </div>
						</form>
                        </div>
                    
                    </div>    
            </div>
        </div>   
            </div> 
            
<script>
	function loadURLToInputFiled(url){
				console.log(url);
				  getImgURL(url, (imgBlob)=>{
				    // Load img blob to input
				    // WIP: UTF8 character error
				    let fileName = '[[${reportBoard.boardImage}]]';
				   
				    
				    let file = new File([imgBlob], fileName,{type:"image/jpeg", lastModified:new Date().getTime()}, 'utf-8');
				    let container = new DataTransfer(); 
				    
				    
				   
				    
				    
				    
				    container.items.add(file);
				    document.querySelector('input[type="file"]').files = container.files;
				    document.querySelector('#imagePreview').src=url;
				  });
				}
				// xmlHTTP return blob respond
			function getImgURL(url, callback){
			  var xhr = new XMLHttpRequest();
			  xhr.onload = function() {
			      callback(xhr.response+">>>>>>>>>>>>>");
			      
			      
			  };
			  xhr.open('GET', url);
			  xhr.responseType = 'blob';
			  xhr.send();
			}
	        
	        loadURLToInputFiled('image/reportboard/[[${reportBoard.boardImage}]]');
	        
	$('#reportBoard_write_form').validate({
			rules: {
			boardTitle: {
				required: true
			},
			boardFindDate: {
				required: true
			},
			boardFindName: {
				required: true
			},
			boardFindPlace: {
				required: true
			},
			boardFindPhone: {
				required: true,
				phone:true
			},
			boardContent: {
				required: true
			},
			imageFile:{
				required:true
			}
		},
		messages: {
			boardTitle: {
				required: '제목을 입력하세요.'
			},
			boardFindDate: {
				required: '날짜를 입력하세요.'
			},
			boardFindName: {
				required: '이름을 입력하세요.'
			},
			boardFindPlace: {
				required: '발견장소를 입력하세요.'
			},
			boardFindPhone: {
				required: '번호를 입력하세요.',
				phone:'번호 양식에 맞춰 써주세요.(예시:010-1234-1234)'
			},
			boardContent: {
				required: '내용을 입력하세요.'
			},
			imageFile:{
				required: '이미지를 넣어주세요'
			}
			
		},
		errorClass: 'error',
		validClass: 'valid'
	}
		
		);
	
		$('#reportBoard_write_form').on('submit',function(e) {
        // 폼이 유효하지 않으면 전송을 중지
        if (!$(this).valid()) {
            e.preventDefault();
            
        }else{
			location.href = "/reportlist";	
		}
        //alert('안먹나?');
        
    });

	window.onload = function() {
		
		var boardFindDate = document.getElementById('boardFindDate');
	    var today = new Date();
	    // 한국 시간대 (UTC+9)로 변경
	    today.setHours(today.getHours() + 9);
	    var todayString = today.toISOString().slice(0, 10);

	    boardFindDate.value = todayString;

	    // max 속성 설정
	    var maxDate = new Date(today);
	    maxDate.setDate(maxDate.getDate() ); // 내일로 설정
	    var maxDateString = maxDate.toISOString().slice(0, 10);
	    boardFindDate.setAttribute('max', maxDateString);

	    // min 속성 제거
	    boardFindDate.removeAttribute('min');
};

</script>
            
    </th:block>
    <!-- customer login end -->

    <!--footer area start-->
    
    <!--footer area end-->
</body>

</html>